<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../assets/styles/home.css">
    <title>Carnavrau</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header__logo">
                <img src="../assets/images/logo.svg" alt="Carna Store">
            </div>
            <div class="header__slogan">Venha ser feliz no Carnavrau</div>
        </div>
        <div class="div_banner">
            <div class="title_banner">
                <h1>AINDA DA TEMPO DE SER FELIX</h1>
                <h3 class="subtitle_banner">FANTASIAS PREMIUM POR <span style="color: #FF6347">R$ 100,00</span></h3>
                <a href="#" class="buy_button">Comprar agora</a>
            </div>
        </div>
        <div class="div_products">
            <h4 class="products__title">Se você comprar eu te dou um beijo (só se você quiser)</h4>
            <div class="div_products__cards">
                <div class="product__card--first" id="first_product">
                    <button class="show_button" id="show_button1">Ver Detalhes</button>
                </div>
                <div class="product__card--second" id="second_product">
                    <button class="show_button" id="show_button2">Ver Detalhes</button>
                </div>
                <div class="product__card--third" id="third_product">
                    <button class="show_button" id="show_button3">Ver Detalhes</button>
                </div>
            </div>
        </div>
        <div class="contact">
            <span class="contact__slogan"><strong>Carna</strong>Store</span>
            <span class="contact__email">contato@carnastore.com</span>

        </div>
        <div class="footer">
            <div class="footer__icons">
                <img src="../assets/images/cards.svg">
                <img src="../assets/images/security-icon.svg">
            </div>
            <span class="footer__line"></span>
            <span class="footer__developer">Desenvolvido pelo <strong>Davi Torres</strong></span>
        </div>


    </div>  

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/home.js"></script>
</body>
</html>