<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../assets/styles/home.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/show.css">
    <title>Carnavrau</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header__logo">
                <img src="../assets/images/logo.svg" alt="Carna Store">
            </div>
            <div class="header__slogan">Venha ser feliz no Carnavrau</div>
        </div>
        <div class="div_fantasy">
            <div class="div_fantasy__content">
                <h1>Fantasia Amazonia</h1>
                <h4 class="">Aqui vai um texto de exemplo falando o quão bonita é essa fantasia e a modelo.</h4>
                <h5>Escolha o tamanho:</h5>          
                <div class="div_fantasy_sizes">
                    <div class="fantasy_size">PP</div>
                    <div class="fantasy_size">P</div>
                    <div class="fantasy_size">M</div>
                    <div class="fantasy_size">G</div>
                </div>
                <br>
                <button class="add_cart_button" id="addcart">Adicionar ao carrinho</button>
            </div>
            <div class="cart_modal" id="cart">
                <button class="close">Fechar</button>
                <h3>VIVAAAAAAAAA!</h3>
            </div>
        </div>
        <div class="div_products">
            <h4 class="products__title">Outras fantasias que vc vai gostar</h4>
            <div class="div_products__cards">
                <div class="product__card--first" id="first_product">
                    <button class="show_button" id="show_button1">Ver Detalhes</button>
                </div>
                <div class="product__card--second" id="second_product">
                    <button class="show_button" id="show_button2">Ver Detalhes</button>
                </div>
                <div class="product__card--third" id="third_product">
                    <button class="show_button" id="show_button3">Ver Detalhes</button>
                </div>
            </div>
        </div>
        <div class="contact">
            <span class="contact__slogan"><strong>Carna</strong>Store</span>
            <span class="contact__email">contato@carnastore.com</span>

        </div>
        <div class="footer">
            <div class="footer__icons">
                <img src="../assets/images/cards.svg">
                <img src="../assets/images/security-icon.svg">
            </div>
            <span class="footer__line"></span>
            <span class="footer__developer">Desenvolvido pelo <strong>Davi Torres</strong></span>
        </div>


    </div>  

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/home.js"></script>
    <script src="../assets/js/show.js"></script>
</body>
</html>